<%- include header %>
<div class="col-md-9 col-lg-9">
<form class="form-horizontal" method="post">
	<div class="form-group">
		<label  class="col-sm-2">UserId</label>
		<div class="col-sm-10">
			<p><%= user.userId %></p>
		</div>
	</div>
	<div class="form-group">
		<label  class="col-sm-2">Nickname</label>
		<div class="col-sm-10">
			<input class="form-control" name="nickname" placeholder="Enter your Nickname" >
		</div>
	</div>
	<div class="form-group">
		<label  class="col-sm-2">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" name="password" placeholder="Input your password or leave it empty">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">Repeat Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" name="repeatpassword" placeholder="repeat it!">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" name="email" placeholder="Input your Email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">QQ</label>
		<div class="col-sm-10">
			<input class="form-control" name="qq" placeholder="Input your Email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">Github</label>
		<div class="col-sm-10">
			<input class="form-control" name="github" placeholder="Input your Email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2">Identity</label>
		<div class="col-sm-10">
			<input class="form-control" name="grade" placeholder="Input your Email">
		</div>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<div class="col-md-3">
	<%- include leftbar %>
</div>
<%- include footer %>